extend layout
block content
    h2 Summary
    p
        | Registered players: #{player_num}
    p
        | Stats registered: #{stats_num}
    p
        ul
            if player_list
                each player in player_list
                    li #{player}

block sidebar
    .widget
        h1 Access
        #cssmenu
            ul
                li
                    a(href='/') Main
            ul
                li
                    a(href='/register') Register New Player
            ul
                li
                    a(href='/remove') Remove Player
            ul
                li
                    a(href='/config') Configuration
            ul
                li
                    a(href='/stats') Statistics
