extend layout
block content
    h2 Summary
    p
        | Registered players: #{player_num}
    p
        | Donec congue lacinia dui, a porttitor
        | lectus condimentum laoreet. Nunc eu
        | ullamcorper orci. Quisque eget odio ac
        | lectus vestibulum faucibus eget in metus.
        | In pellentesque faucibus vestibulum. Nulla
        | at nulla justo, eget luctus tortor.
block sidebar
    .widget
        h1 Access
        #cssmenu
            ul
                li
                    a(href='/') Main
            ul
                li
                    a(href='/config') Configuration
            ul
                li
                    a(href='/stats') Statistics
