!!!5
html
    head
        title TyeDye - Remote Character Server for SL
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 TyeDye: #{title}
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Running on node with Express, Jade and Stylus    
